anyio==3.6.1; python_full_version >= "3.6.2" and python_version >= "3.7"
appnope==0.1.3; sys_platform == "darwin" and python_version >= "3.8" and platform_system == "Darwin"
argon2-cffi-bindings==21.2.0; python_version >= "3.7"
argon2-cffi==21.3.0; python_version >= "3.7"
asttokens==2.0.5; python_version >= "3.8"
attrs==21.4.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.8"
babel==2.10.3; python_version >= "3.7"
backcall==0.2.0; python_version >= "3.8"
beautifulsoup4==4.11.1; python_full_version >= "3.6.0" and python_version >= "3.7"
bleach==5.0.1; python_version >= "3.7"
bokeh==2.4.3; python_version >= "3.7"
branca==0.5.0; python_version >= "3.5"
cartopy==0.21.1; python_version >= "3.7"
certifi==2022.6.15; python_version >= "3.8" and python_version < "4"
cffi==1.15.1; implementation_name == "pypy" and python_version >= "3.7"
charset-normalizer==2.1.0; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
click-plugins==1.1.1; python_version >= "3.8"
click==8.1.3; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version < "4" and python_version >= "3.8"
cligj==0.7.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version < "4" and python_version >= "3.8"
colorama==0.4.5; python_version >= "3.8" and python_full_version < "3.0.0" and platform_system == "Windows" and sys_platform == "win32" or python_full_version >= "3.5.0" and platform_system == "Windows" and sys_platform == "win32" and python_version >= "3.8"
colorcet==3.0.0; python_version >= "3.7"
contextily==1.2.0
cycler==0.11.0; python_version >= "3.7"
debugpy==1.6.2; python_version >= "3.7"
decorator==5.1.1; python_version >= "3.8"
defusedxml==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
entrypoints==0.4; python_version >= "3.7"
executing==0.8.3; python_version >= "3.8"
fastjsonschema==2.16.1; python_version >= "3.7"
fiona>=1.8.21; python_version >= "3.8"
folium==0.7.0
fonttools==4.34.4; python_version >= "3.7"
geographiclib==1.52; python_version >= "3.7"
geopandas==0.11.0; python_version >= "3.8"
geopy==2.2.0; python_version >= "3.7"
geoviews==1.9.5; python_version >= "3.7"
h3==3.7.4
holoviews==1.15.0; python_version >= "3.7"
hvplot==0.8.0; python_version >= "3.7"
idna==3.3; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.2"
importlib-metadata==4.12.0; python_version < "3.10" and python_version >= "3.7"
ipykernel==6.15.1; python_version >= "3.7"
ipython-genutils==0.2.0; python_version >= "3.7"
ipython==8.4.0; python_version >= "3.8"
ipywidgets==7.7.1
jedi==0.18.1; python_version >= "3.8"
jinja2==3.1.2; python_version >= "3.7"
json5==0.9.8; python_version >= "3.7"
jsonschema==4.7.2; python_version >= "3.7"
jupyter-client==7.3.4; python_full_version >= "3.7.0" and python_version >= "3.7"
jupyter-core==4.11.1; python_version >= "3.7"
jupyter-server==2.7.2; python_version >= "3.7"
jupyterlab-pygments==0.2.2; python_version >= "3.7"
jupyterlab-server==2.15.0; python_version >= "3.7"
jupyterlab-widgets==1.1.1; python_version >= "3.6"
jupyterlab==3.4.4; python_version >= "3.7"
kiwisolver==1.4.4; python_version >= "3.7"
markdown==3.4.1; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
matplotlib-inline==0.1.3; python_version >= "3.8"
matplotlib>=3.5.2; python_version >= "3.7"
mistune==0.8.4; python_version >= "3.7"
movingpandas==0.9rc3; python_version >= "3.7"
munch==2.5.0; python_version >= "3.8"
nbclassic==0.4.3; python_version >= "3.7"
nbclient==0.6.6; python_full_version >= "3.7.0" and python_version >= "3.7"
nbconvert==6.5.0; python_version >= "3.7"
nbformat==5.4.0; python_full_version >= "3.7.0" and python_version >= "3.7"
nest-asyncio==1.5.5; python_full_version >= "3.7.0" and python_version >= "3.7"
networkx==2.8.5; python_version >= "3.8"
notebook-shim==0.1.0; python_version >= "3.7"
notebook==6.4.12; python_version >= "3.7"
numpy==1.23.1; python_version >= "3.8"
ordered-set==4.1.0; python_version >= "3.7"
packaging==21.3; python_version >= "3.8"
pandas==1.4.3; python_version >= "3.8"
pandocfilters==1.5.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
panel==0.13.1; python_version >= "3.7"
param==1.12.2; python_version >= "3.7"
parso==0.8.3; python_version >= "3.8"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.8"
pickleshare==0.7.5; python_version >= "3.8"
pillow==9.2.0; python_version >= "3.7"
prometheus-client==0.14.1; python_version >= "3.7"
prompt-toolkit==3.0.30; python_full_version >= "3.6.2" and python_version >= "3.8"
psutil==5.9.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
ptyprocess==0.7.0; sys_platform != "win32" and python_version >= "3.8" and os_name != "nt"
pure-eval==0.2.2; python_version >= "3.8"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.7" and python_full_version >= "3.5.0"
pycparser==2.21; python_version >= "3.7" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.7" and python_full_version >= "3.4.0"
pyct==0.4.8; python_version >= "3.7"
pygments==2.12.0; python_version >= "3.8"
pymap3d==2.9.1; python_version >= "3.7"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.7"
pyproj>=3.3.1; python_version >= "3.8"
pyrsistent==0.18.1; python_version >= "3.7"
pyshp==2.3.0; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
python-louvain==0.16
pytz==2022.1; python_version >= "3.8"
pyviz-comms==2.2.0; python_version >= "3.7"
pywin32==304; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.7"
pywinpty==2.0.6; os_name == "nt" and python_version >= "3.7"
pyyaml==6.0; python_version >= "3.6"
pyzmq>=23.2.0; python_version >= "3.7"
requests==2.28.1; python_version >= "3.7" and python_version < "4"
rtree==1.0.0; python_version >= "3.7"
ruamel.yaml.clib==0.2.6; platform_python_implementation == "CPython" and python_version < "3.11" and python_version >= "3.7"
ruamel.yaml==0.17.21; python_version >= "3.7"
scipy==1.8.1; python_version >= "3.8" and python_version < "3.11"
seaborn==0.10.1; python_version >= "3.6"
send2trash==1.8.0; python_version >= "3.7"
setuptools-scm==7.0.5; python_version >= "3.7"
shapely==1.8.2; python_version >= "3.8"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.7"
soupsieve==2.3.2.post1; python_full_version >= "3.6.0" and python_version >= "3.7"
stack-data==0.3.0; python_version >= "3.8"
stonesoup==0.1b9; python_version >= "3.7"
terminado==0.15.0; python_version >= "3.7"
tinycss2==1.1.1; python_version >= "3.7"
tomli==2.0.1; python_version >= "3.7"
tornado==6.2; python_version >= "3.7"
tqdm==4.64.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
traitlets==5.3.0; python_full_version >= "3.7.0" and python_version >= "3.8"
typing-extensions==4.3.0; python_version >= "3.7"
urllib3==1.26.10; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
utm==0.7.0; python_version >= "3.7"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.8"
webencodings==0.5.1; python_version >= "3.7"
websocket-client==1.3.3; python_version >= "3.7"
widgetsnbextension==3.6.1
xlrd==2.0.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
zipp==3.8.1; python_version < "3.10" and python_version >= "3.7"
